table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

th {
  background-color: #007b5e;
  color: #ffffff;
}

td {
  color: #333333;
}

td, th {
  text-align: left;
  padding: 10px;
}

tbody td {
  font-size: 14px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#description {
  width: 300px;
}

#delete-ui {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

dialog {
  outline: 1px solid #ccc;
  border-radius: 4px;
}

dialog > form {
  display: flex;
  flex-direction: column;
  width: 300px;

}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  padding: 10px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.form-group-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;  
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

label {
  margin-right: 10px;
  width: 300px;
}

#delete {
  width: 40px;
  float: right;

}

button[id="edit"], button[id="close"] {
  padding: 10px 20px;
  margin: 10px 0
}

#edit-in-stock {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}